body {
    margin: 0;
    overflow: hidden; /* 去掉滚动条 */
}

#gameContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* 防止溢出 */
}

/* 背景动画 */
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: backgroundAnimation 20s infinite; /* 动画持续时间和循环 */
}

@keyframes backgroundAnimation {
    0% { background-image: url('/pictures/background/GAME_sky1_0.png'); }
    33% { background-image: url('/pictures/background/GAME_sky2_0.png'); }
    67% { background-image: url('/pictures/background/GAME_sky3_0.png'); }
    100% { background-image: url('/pictures/background/GAME_sky1_0.png'); } /* 循环回到第一张 */
}